<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Javra\Javraevents\Api\Data\PostInterface" type="Javra\Javraevents\Model\Post" />
    <preference for="Javra\Javraevents\Api\PostRepositoryInterface" type="Javra\Javraevents\Model\PostRepository"/>

    <virtualType name="BlogGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PostGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Javra\Javraevents\Model\Resource\Post\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">BlogGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Javra\Javraevents\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">javra_events</argument>
            <argument name="resourceModel" xsi:type="string">Javra\Javraevents\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
    <type name="Javra\Javraevents\Model\ResourceModel\Post\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">javra_events</argument>
            <argument name="eventPrefix" xsi:type="string">javra_events_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">javra_events_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Javra\Javraevents\Model\ResourceModel\Post\Collection</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="blog_post_listing_data_source" xsi:type="string">Javra\Javraevents\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Javra\Javraevents\Api\Data\PostInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">javra_events</item>
                    <item name="identifierField" xsi:type="string">post_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
    <arguments>
        <argument name="entities" xsi:type="array">
            <item name="Javra\Javraevents\Api\Data\PostInterface" xsi:type="string">Javra\Javraevents\Api\PostRepositoryInterface</item>
        </argument>
    </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Javra\Javraevents\Api\Data\PostInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="storeReader" xsi:type="string">Javra\Javraevents\Model\ResourceModel\Post\Relation\Store\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="storeCreator" xsi:type="string">Javra\Javraevents\Model\ResourceModel\Post\Relation\Store\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="storeUpdater" xsi:type="string">Javra\Javraevents\Model\ResourceModel\Post\Relation\Store\SaveHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Javra\Javraevents\Api\Data\PostInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
        </config>
