<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Javra::top_level" module="Javra_Viewcount" resource="Magento_Backend::content" sortOrder="9999" title="ViewCount"/>
		<!--<add action="index/index/index" id="Javra_Viewcount::index_index" module="Javra_Viewcount" parent="Javra::top_level" resource="Javra_Viewcount::index_index" sortOrder="9999" title="index index"/>-->
		<add action="javra_viewcount/count/index" id="Javra_Viewcount::javra_viewcount_count" module="Javra_Viewcount" parent="Javra::top_level" resource="Magento_Backend::content" sortOrder="9999" title="Count"/>
	</menu>
</config>
