<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Javra\Viewcount\Api\DataManagementInterface" type="Javra\Viewcount\Model\DataManagement"/>
	<virtualType name="Javra\Viewcount\Model\ResourceModel\Count\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">javra_viewcount_count</argument>
			<argument name="resourceModel" xsi:type="string">Javra\Viewcount\Model\ResourceModel\Count\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="javra_viewcount_count_grid_data_source" xsi:type="string">Javra\Viewcount\Model\ResourceModel\Count\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
